description = "Links and metas"
==
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>DevFolio Bootstrap Portfolio Template - Index</title>
<meta content="" name="descriptison">
<meta
content="" name="keywords">

<!-- Favicons -->
<link href="{{ 'assets/img/favicon.png'|theme }}" rel="icon">
<link
href="{{ 'assets/img/apple-touch-icon.png'|theme }}" rel="apple-touch-icon">

<!-- Vendor CSS Files -->
<link href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/vendor/font-awesome/css/font-awesome.min.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/vendor/ionicons/css/ionicons.min.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/vendor/owl.carousel/assets/owl.carousel.min.css'|theme }}" rel="stylesheet">
<link
href="{{ 'assets/vendor/venobox/venobox.css'|theme }}" rel="stylesheet">

<!-- Template Main CSS File -->
<link
href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">

{% styles %}